#Intellij
.idea

node_modules
dist
.env
package-lock.json
output/output.json

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
